.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 2px solid rgb(69, 74, 80);
  margin-top: 3%;
}

.projects-container > h2 {
  text-align: center;
  font-size: 30px;
}

.project {
  background-color: rgb(169, 169, 233);
  padding: 2%;
  margin: 2% 3%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-header {
  font-size: 22px;
  background-color: rgb(226, 228, 231);
  border-radius: 50%;
  padding: 10px 15px;
  margin: 0;
}

.project-desc {
  max-width: 25%;
}

.project-image-link {
  display: flex;
  justify-content: center;
  width: 50%;
}

.project-image {
  width: 100%;
  border-radius: 5px;
}

.project-image:hover {
  opacity: .8;
}

.tech-list-header {
  margin-bottom: 0;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.live-app {
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: 700; 
}

.live-app:hover {
  color: rgb(226, 228, 231);
}

.icon-link-small {
  font-size: 40px;
}

.icon-link-small:hover {
  color: rgb(226, 228, 231);
}

@media only screen and (max-width: 800px){
  .project-desc {
    max-width: 60%;
  }

  .project-image-link {
    width: 80%;
  }

  .tech-list {
    text-align: center;
  }

  .project-links {
    width: 50%;
  }

}

@media only screen and (min-width: 1024px) and (max-width: 1100px){
  .projects-container {
    margin-top: 8%;
  }

  .project-desc {
    max-width: 40%;
  }
}