.about-me-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2%;
}

.image-container {
  width: 25%;
  text-align: center;
  font-style: italic;
}

.nick-image {
  height: 80%;
  width: 80%;
  border-radius: 50%;
}

.about-me-description {
  width: 50%;
  height: 100%;
  background-color: rgb(169, 169, 233);
  padding: 2% 3%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px 2px rgb(92, 92, 129);
}

.about-me-description > h2 {
  margin-top: 0;
}

@media only screen and (max-width: 320px){
  .about-me-description {
    width: 80%;
    margin-top: 18%;
    margin-bottom: 2%;
    box-shadow: none;
  }

  .nick-image {
    width: 70%;
  }

  .image-container {
    width: 100%;
    text-align: center;
    padding: 3%;
  }
}

@media only screen and (min-width: 321px) and (max-width: 767px){
  .about-me-description {
    width: 80%;
    margin-top: 8%;
    margin-bottom: 2%;
    box-shadow: none;
  }

  .nick-image {
    width: 70%;
  }

  .image-container {
    width: 100%;
    text-align: center;
    padding: 3%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 800px){
  .about-me-description {
    width: 80%;
    margin-top: 0;
    margin-bottom: 2%;
    box-shadow: none;
  }

  .nick-image {
    width: 70%;
  }

  .image-container {
    width: 100%;
    text-align: center;
    padding: 3%;
  }
}